<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YourHR</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Welcome to YourHR</h1>
          <p>YourHR is your gateway to finding the perfect job that matches your skills and aspirations. Whether you're just starting your career or looking for a change, we're here to help you every step of the way. Our platform connects you with top employers who value your talent and qualifications.</p>
          <p>Join our community and take the next step towards a fulfilling career. Sign up, upload your resume, and let us help you find your dream job!</p>
          <span>
            <p>Ready to get started? Register now and begin your job search journey with us!</p>
            <a href="/register">Registration</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
