<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YourHR</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Welcome to YourHR</h1>
          <p>Join thousands of job seekers who have found their ideal roles through YourHR. Our platform connects you with opportunities that match your skills, experience, and career aspirations. Create your account, upload your resume, and let employers find you!</p>
          <br />
          <span>
            <a href="/">Home</a>
          </span>
        </div>
      </div>

      <div class="right">
        <h5>Registration</h5>
        <form action="/register" method="post" enctype="multipart/form-data">
          <div class="inputs">
            <input type="text" placeholder="Name" name="name" required />
            <br />
            <input type="email" placeholder="Email" name="email" required />
            <br />
            <input type="password" placeholder="Password" name="password" required />
            <br />
            <input
              type="password"
              placeholder="Confirm Password"
              name="conpassword"
              required
            />
            <br />
          </div>

          <br />
          <input type="file" name="resume" accept=".pdf,.doc,.docx" required />
          <br /><br />
          <button type="submit" value="register">Register</button>
        </form>

        <br />
      </div>
    </div>
  </body>
</html>
